.Rproj.user
.Rhistory
.RData
.Ruserdata

*.py
*.csv
content.jsonl

/.quarto/

# Ignore rendered HTML
# docs/**/*.html

# Keep special manually-maintained HTML files
!docs/_header.html
!docs/_footer.html

# Ignore Quarto output and libraries
docs/_freeze/
docs/.quarto/
# docs/search.json
# docs/site_libs/

# Ignore OS files
.DS_Store


